Repository keindev/changelog-guru, changes with the labels that .github/labeler.yml gives for each.
All labels: test, workflow, config, project, source, api, docs, example, media

.github/labeler.yml:

test:
  - src/__mocks__/**/*.test.ts
  - src/__tests__/**/*.test.ts

workflow:
  - .github/**/*
  - .vscode/**/*
  - ./.gitignore
  - ./.npmignore
  - ./.editorconfig
  - ./.eslintignore
  - ./.prettierignore
  - ./.prettierrc

config:
  - ./.eslintrc
  - ./jest.config.js
  - ./tsconfig.json
  - ./.changelogrc.yml
  - ./.changelogrc.default.yml
  - ./.huskyrc

project:
  - ./package-lock.json
  - ./package.json
  - ./LICENSE

source:
- any: ['src/**/*', '!src/cli/*', '!src/__mocks__/*', '!src/__tests__/*']

api:
  - bin/**/*
  - src/cli/**/*

docs:
  - docs/**/*
  - ./*.md
  - ./.ghinfo

example:
  - example/**/*

media:
  - media/**/*

workflow(cspell): add words to cspell config
  .vscode/cspell.json
Labels: workflow

tests: fix Author test, fix GitHubProvider
  src/__tests__/entities/Author.test.ts
  src/core/providers/GitHubProvider.ts
Labels: test, source

test: fix test errors
  src/__tests__/Linter.test.ts
  src/__tests__/Package.test.ts
  src/__tests__/entities/Commit.test.ts
  src/__tests__/rules/PackageStatisticRenderRule.test.ts
  src/core/Builder.ts
  src/core/Config.ts
  src/core/Package.ts
  src/core/entities/Author.ts
  src/core/entities/Commit.ts
  src/core/rules/HighlightRule.ts
  src/core/rules/MarkRule.ts
  src/core/rules/ScopeRenameRule.ts
Labels: test, source

fix: fix changelogrc structure
  .changelogrc.default.yml
Labels: config

fix: fix bugs after tests
  src/core/Linter.ts
  src/core/State.ts
  src/core/entities/Author.ts
  src/core/providers/GitHubProvider.ts
  src/core/rules/ScopeRenameRule.ts
  src/core/rules/SectionGroupRule.ts
Labels: source

test: refactor State test
  src/__tests__/State.test.ts
Labels: test

fix: fix Builder, correct building MD
  src/__mocks__/Writer.mock.ts
  src/__tests__/Builder.test.ts
  src/__tests__/__snapshots__/Builder.test.ts.snap
  src/__tests__/entities/Author.test.ts
  src/__tests__/entities/Commit.test.ts
  src/__tests__/entities/Section.test.ts
  src/__tests__/rules/HighlightRule.test.ts
  src/__tests__/rules/MarkRule.test.ts
  src/__tests__/rules/ScopeRenameRule.test.ts
  src/__tests__/rules/SectionGroupRule.test.ts
  src/cli/commands/generate.ts
  src/core/Builder.ts
Labels: test, source, api

fix(Utils): fix md.list item render
  src/__tests__/__snapshots__/Builder.test.ts.snap
  src/__tests__/rules/PackageStatisticRenderRule.test.ts
  src/utils/markdown.ts
Labels: test, source

fix(Package): fix version changes map
  src/core/Package.ts
Labels: source

build(deps): bump semver to ^7.3.5
  package-lock.json
  package.json
Labels: project

build(deps): bump @types/* deps
  package-lock.json
  package.json
Labels: project

build(deps): bump husky to 5.2.0
  package-lock.json
  package.json
Labels: project

build(deps): bump eslint to 7.22.0
  package-lock.json
  package.json
Labels: project

build(deps): bump others dev-deps
  package-lock.json
  package.json
Labels: project

workflow: update husky config to v5.x
  .ghinfo
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
Labels: config, docs

improve: update to husky v5.x, fix Linter bugs
  .husky/commit-msg
  .husky/pre-commit
  .npmignore
  .vscode/launch.json
  package-lock.json
  package.json
  src/cli/bin.ts
  src/core/Linter.ts
  src/core/rules/SectionGroupRule.ts
Labels: workflow, project, source, api

test: replace faker to new Date in Commit & State tests
  src/__tests__/entities/Commit.test.ts
  src/__tests__/entities/Section.test.ts
Labels: test, source

chore: generate CHANGELOG.md
  CHANGELOG.md
Labels: docs

workflow: change debugger launch options for ts-node
  .vscode/launch.json
Labels: workflow

improve(Section): add detail sections
  src/__tests__/rules/PackageStatisticRenderRule.test.ts
  src/core/Builder.ts
  src/core/Package.ts
  src/core/State.ts
  src/core/entities/Section.ts
  src/core/rules/PackageStatisticRenderRule.ts
  src/utils/markdown.ts
Labels: test, source

feat: add emoji to Sections titles
  .changelogrc.default.yml
  CHANGELOG.md
  src/__tests__/Config.test.ts
  src/__tests__/State.test.ts
  src/__tests__/__snapshots__/Builder.test.ts.snap
  src/__tests__/entities/Section.test.ts
  src/core/Builder.ts
  src/core/State.ts
  src/core/entities/Section.ts
  src/core/rules/BaseRule.ts
  src/core/rules/MarkRule.ts
  src/core/rules/PackageStatisticRenderRule.ts
  src/core/rules/ScopeRenameRule.ts
  src/core/rules/SectionGroupRule.ts
Labels: test, config, source, docs

test: fix Scope test errors, change Jest coverage file format
  jest.config.js
  src/core/rules/ScopeRenameRule.ts
Labels: config, source

workflow(Actions): refactor github actions
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/scan.yml
  .github/workflows/sync.yml
Labels: workflow

workflow(Actions): fix build.yml action errors
  .github/workflows/build.yml
Labels: workflow

workflow(Actions): fix coverage job in build.yml
  .github/workflows/build.yml
Labels: workflow

workflow(Actions): fix `npm ci` in build.yml
  .github/workflows/build.yml
Labels: workflow

workflow(Actions): fix coverage action
  .github/workflows/build.yml
Labels: workflow

build(deps): bump dev deps
  package-lock.json
  package.json
Labels: project

build(package): npm audit fix
  package-lock.json
Labels: project

improve(Package): add current version check before bump
  src/__tests__/Builder.test.ts
  src/core/Builder.ts
  src/core/Package.ts
  src/core/providers/GitHubProvider.ts
  src/core/providers/GitLabProvider.ts
  src/core/providers/GitProvider.ts
Labels: test, source

fix(Package): add getter for version prop
  src/core/Package.ts
Labels: source

fix: fix tasktree structure, refactor tests
  src/Changelog.ts
  src/__tests__/Builder.test.ts
  src/__tests__/Linter.test.ts
  src/__tests__/Package.test.ts
  src/core/Builder.ts
  src/core/Config.ts
  src/core/Linter.ts
  src/core/Package.ts
  src/core/State.ts
  src/core/providers/GitProvider.ts
Labels: test, source

docs: Actualize docs, update logo, add social-preview
  .changelogrc.default.yml
  README.md
  docs.old/configuration.md
  docs.old/plugins/default/attention.md
  docs.old/plugins/default/highlight.md
  docs.old/plugins/default/marker.md
  docs.old/plugins/default/scope.md
  docs.old/plugins/default/section.md
  docs.old/plugins/plugins.md
  docs/api/classes/changelog.md
  docs/api/index.md
  media/logo.svg
  media/social-preview.png
  src/Changelog.ts
  src/cli/commands/generate.ts
Labels: config, source, api, docs, media

workflow(pkg): fix scripts
  package.json
Labels: project

fix: add Package scope name
  .changelogrc.default.yml
Labels: config

fix: remove read-pkg from deps
  package-lock.json
  package.json
  src/__tests__/Builder.test.ts
  src/__tests__/Package.test.ts
  src/core/Package.ts
  src/core/entities/Entity.ts
  src/core/providers/GitHubProvider.ts
  src/core/providers/GitLabProvider.ts
  src/core/providers/GitProvider.ts
  tsconfig.json
Labels: test, config, project, source

build(deps): bump husky to v6.0.0
  package-lock.json
  package.json
Labels: project

build: bump to v2.0.0
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

build: bump to v2.0.1
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs
